<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dating Menu</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}">
    <link rel="icon" type="image/svg" href="{{url_for('static',filename='favicon.svg')}}"> 
</head>
<body>
    <div id="welcome" class="relative w-screen h-screen p-12">
        <img class="absolute inset-0 w-full h-full object-cover opacity-40" src="{{url_for('static',filename='thankyou.JPG')}}">
        <div class="relative z-10 flex items-center justify-center w-full h-full">
            <div class="text-center text-white text-shadow-xs text-shadow-black">
                <h1 class="text-4xl font-bold">Anh nhận được order của cục zàng rùi nhê ❤️</h1>
                <p class="mt-6 px-6 text-lg italic">"iu em"</p>
            </div>
        </div>
    </div>
</body>
</html>
